[submodule "CD_LoRaBasicsModem_Demo"]
	path = CD_LoRaBasicsModem_Demo
	url = https://github.com/ConnectedDevelopment/CD_LoRaBasicsModem_Demo.git
[submodule "CD_LoRaMAC_Demo"]
	path = CD_LoRaMAC_Demo
	url = https://github.com/ConnectedDevelopment/CD_LoRaMAC_Demo.git
